---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%- if site.theme_config.show_description -%}
    <p>{{ site.description }}</p>
  {%- endif -%}
</header>

<div class="menu-container">
  <ul>
  {%- include menu_item.html collection=site.data.art_menu.entries -%}
  </ul>
  <ul>
  {%- include menu_item.html collection=site.data.research_menu.entries -%}
  </ul>
</div>

{{ content }}

  

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>

<div id="wormhole"></div>

<script src="/wormhole.js"></script>
